body{
    
    background-color: aquamarine;
}

.container{
    max-width: 90%;
    background-color: rgb(237, 212, 100);
    margin: 15px;
}

section{
    background-color: rgb(158, 241, 95);
}

h1{
    font-size: 50px;
}
img{
    width: 300px;
}

.bolsa1{
    display: flex;
    gap: 50px;

}

@media (max-width: 680px) {
    h1{
        font-size: 40px;
    }

    .bolsa1{
        display: block;      
       
    }
    h2{
        justify-content: center;
        align-items: center;
        margin-left: 70px;
    }
    
}